<h3 class="mb-3 text-light">Publicaciones</h3>

<div class="my-3">
  <input
    class="form-control"
    placeholder="Buscar..."
    [(ngModel)]="searchText"
    (input)="filter()"
  />
</div>

<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let post of filtered">
    <div class="card game-card shadow-sm">
      <!-- Imagen -->
      <img
        class="card-img-top"
        [src]="post.imageUrl || 'assets/default.jpg'"
        alt="imagen del post"
        (error)="onImageError($event)"
      />

      <!-- Contenido -->
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <p class="post-date">{{ post.createdAt | date: 'short' }}</p>
      </div>
    </div>
  </div>
</div>
